
ul {
  padding: 20px;
}
.issues--list{
    li {
      padding: 1rem;
      text-align: left;
      border: solid 1px gray;
      border-radius: 4px;
      background: lightgray;
      margin: 0.5rem;
      cursor: pointer;
    }
}
.page-numbers{
  display: flex;
  li{
    border: solid 1px gray;
    border-radius: 4px;
    max-width: 200px;
    margin: 0 auto;
  }
}
