.flex-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
background: #000000d6;
.card-wrapper{
  padding: 25px;
  cursor: pointer;
  min-height: 100px;
  img{
    max-width: 200px;
    &:hover{
      transform: scale(1.4);
      transition: transform .4s;
    }
  }
  .selected--box{
    border: solid 4px green
  }
  .reset--styling{
    border:none
  }
}
}
.traier--video{
  background: black;
  padding: 10px;
}
ul {
  padding: 20px;
}
