.results{
  height: auto;
  float: left;
    margin-right: -100%;
    width: 85.49%;
    margin-left: 7.2525%;
    .result-items{
    display: block;
    float: left;
    position: relative;
    margin: 0 .78125% 50px;
    width: 23.4375%;
    cursor: pointer;
    }
}
.detail-wrapper{
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .left--block{
    flex: 50%;
    img{
      height: 400px;
    }
  }
  .right--block{
    flex: 50%;
  }
}
.list{
  display: flex;
}
.pagination{
  display: flex;
  margin: 0 auto;
    width: 400px;
    overflow: auto;
    margin-bottom: 100px;
  .page-item{
    margin-left: 4px;
    margin-right: 4px;
    border: solid 1px #61dafb;
    padding: 1px;
    color: #2bd2ff;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
